<link rel="stylesheet" href="choose_avatar.scss">
 <!-- <header>
  <div id="header">
    <h5>Dala</h5>
  </div>
 </header> -->

 <h1 id="chav">Choose Avatar</h1>

 <div id="avatar-form">
   <ul id="av-button">
    <%= button_to users_asign_avatar_path(image: '') do %>
      <%= image_tag('/images/Adventurer1.png', alt: 'Adventurer1.png', class: 'avimg')%>
      <%= image_tag('/images/Adventurer2.png', alt: 'Adventurer2.png', class: 'avimg')%>
      <%= image_tag('/images/Scientist1.png', alt: 'Scientist1.png', class: 'avimg')%>
      <%= image_tag('/images/Scientist2.png', alt: 'Scientist2.png', class: 'avimg')%>
      <%= image_tag('/images/Poet1.png', alt: 'Poet1.png', class: 'avimg')%>
      <%= image_tag('/images/Poet2.png', alt: 'Poet2.png', class: 'avimg')%>
    <% end %>
 </ul>
</div>
