<%= render 'form', game: @game %>

<%= link_to 'Back', games_path %>

<div class="wrapper">
  <div class="col-xs-12">

  </div>
</div>

<div class="container-fluid col-xs-12 games-cards" >
  <div class="row" id="top">
    <div class="mdl-card mdl-shadow--2dp card-square">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Game 1</h2>
        <%= link_to image_tag("monster-1.png", class: "img-fluid image1"), '/games/11'  %>
        </div>
      </div>
          <div class="mdl-card mdl-shadow--2dp card-square">
            <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Game 2</h2>
            <%= image_tag("monster-1.png", class: "img-fluid image1") %>
          </div>
        </div>
      </div>

        <div class="row" id="bottom">
          <div class="mdl-card mdl-shadow--2dp card-square">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Game 3</h2>
                <%= image_tag("monster-1.png", class: "img-fluid image1") %>
              </div>
            </div>

              <div class="mdl-card mdl-shadow--2dp card-square">
                  <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Game 4</h2>
                    <%= image_tag("monster-1.png", class: "img-fluid image1") %>
                  </div>
                </div>
              </div>
        </div>
